<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Eyelog Web Monitoring System">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="Kyungmin Kim">

  <title>WebRTC Monitoring System</title>
  <link rel="stylesheet" href="/css/main.css" />
	<link rel="shortcut icon" href="#"/>
</head>

<body>
  {{{body}}}
</body>

</html>
