<h1>Multi Peer Connection Experiment</h1>
<button id="connectBtn">Connect 2nd</button>
<div>
	<video id="localVideo" autoplay muted></video>
	<video id="remoteVideo0" autoplay></video>
	<video id="remoteVideo1" autoplay></video>
</div>
<div id="statusDiv">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/js/experiment.js"></script>