body {
    font-family: arial;
    margin: 0;
}

video {
    max-width: 100%;
    width: 100%;
}

canvas{
    width: 100%;
}

div {
    align : center;
    margin:5px;
    /*background-color: rgba(125,125,0,1);*/
    /*border: 1px solid #ccc;*/
}

hr{
    width:98%;
}

#title{
    height: 100%;
    text-align: center;
    /*border: 2px solid #ccc;*/
    background-color: #a1a1a1;
    margin: 0px;
    padding: 40px;
    color: white;
    background-image: url("/images/bgImgHeader.jpg") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#statusContainer{
    width: auto;
    height : 150px;
    /*border: 1px solid #ccc;*/
    /*background-color: #f8f8f8;*/
    /*magin:5px;*/
}

#buttonMenu {
    text-align: right;
    padding :4px;
}

.gridContainer{
    align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /*background-color: rgba(125, 255, 255, 1);*/
    width:auto;
    height:auto;
}

.gridItem{
    /*background-color: rgba(255, 125, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);*/
    font-size: 21px;
    text-align: center;
    padding: 0px 5px 0px 5px;
}

#dataChannelReceive{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#dataChannelReceive:disabled{
    background-color: #dddddd;
}

#dataChannelSend{
    width:100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radiuse: 4px;
    background: #f8f8f8;
    resize: none; 
    font-size:14px;
}

#dataChannelSend:disabled{
    background: #dddddd;
}

.sendTextDivContainer{
    text-align: center;
    display :grid;
    grid-template-columns: 90% 10%;
}

.recieveTextDiv{
    text-align:center;
    padding: 0px 5px 0px 5px;
}

button{
    color:white;
    font-size:14px;
    background-color: #555555;
    border-radius: 4px;
    vertical-align: middle;
}

button:hover{
    background-color:white;
    color:black;
}

button:disabled{
    background:#dddddd;
    color:white;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display:inline-block;
  vertical-align: middle
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#footer{
    padding: 20px;
    text-align: center;
    color:black;
    background-color: #F6F6F4;
    margin-left: auto;
    margin-right: auto;
}

